[submodule "layers/meta-elts"]
	path = layers/meta-elts
	url = https://github.com/jacekschneider/meta-elts.git
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "layers/meta-xilinx"]
	path = layers/meta-xilinx
	url = https://github.com/Xilinx/meta-xilinx.git
[submodule "layers/meta-arm"]
	path = layers/meta-arm
	url = https://git.yoctoproject.org/git/meta-arm
[submodule "TE0726-04-41C94-A-prebuilt"]
	path = TE0726-04-41C94-A-prebuilt
	url = https://github.com/jacekschneider/TE0726-04-41C94-A-prebuilt.git
